.icon-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px; /* Space between icon and text */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #0077cc;
    text-decoration: none;
    border: 2px solid #0077cc;
    border-radius: 5px;
    transition: all 0.3s ease;
}
  
.icon-btn i {
    font-size: 24px; /* Adjust icon size here */
}
  
.icon-btn:hover {
    color: white;
    background: #0077cc;
    text-decoration: none;
}

.header-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    border-radius: 3px;
    transition: 0.3s ease;
}
  
.header-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}
  